<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-3 d-flex justify-content-center" style="border-radius: 5%;">
                <div class="card" style="width: 18rem;">
                    <img src="img/Test.png" class="card-img-top" alt="...">
                    <div class="card-body card-padding">
                        <p class="card-text maincard-text text-left">Nhập môn công nghệ phần mềm</p>
                    </div>
                    <div class="card-body subcard-padding">
                        <p class="card-text subcard-text text-left">👨‍👦‍👦 1000 ⭐ 4.5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>