* {
    box-sizing: border-box;
    font-family: 'Mali'
}

@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Acme');

/* Header ~ Footer */

.nav-header {
    height: 60px;
    background-color: aliceblue;
    font-family: 'Mali', arial, helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.nav-footer {
    height: 60px;
    background-color: black;
    font-family: 'Mali', arial, helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.nav-search-form {
    width: 30% !important;
}

.nav-font-color {
    color: black;
}

.contact-image {
    border: 2px solid white;
}

/* End Header ~ Footer */

/* Main */

.form-header{
    margin-bottom: 20px;
    font-size: 30px;
}
.info-form {
    font-family: 'Mali', arial, helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(243, 241, 241);
    height: 500px;
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.info-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar-input {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:40%;
}

.content-form {
    font-family: 'Mali', arial, helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(243, 241, 241);
    height: 300px;
}