<!doctype html>
<html lang="en">

<head>
    <title>n9</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all_courses.css">
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-md nav-header">
            <a class="navbar-brand mr-auto" href="#"><img src="img/logo.png" alt="Logo"></a>

            <!-- Header content drop here -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-font-color my-1 mr-4" href="#" role="button" aria-expanded="false">
                            ← về Trang chủ
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mx-5 nav-search-form">
                <form class="form-inline w-100">
                    <input class="form-control w-100" type="search" placeholder="🍳 Search for anything"
                        aria-label="Search">
                </form>
            </div>

            <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-font-color my-1 mr-4" href="#" role="button" aria-expanded="false">
                            About us
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="\account\load" method="get">
                            <button class="btn btn-outline-success my-2 mr-1" type="submit">Log in</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="\account\up" method="get">
                            <button class="btn btn-outline-dark mr-auto my-2" type="submit">Sign up</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- End Header content -->
        </nav>
    </header>

    {{{ body }}}

    <footer class="bg-dark text-white fixed-bottom">
        <nav class="navbar navbar-expand-md nav-footer">
            <div class=""> Học tập và phát triển - n9 </div>

            <div class="ml-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        Contact:
                    </li>
                </ul>
            </div>
            <div class="nav-item">
                <a href="#"><img src="img/icon/mail.jpg" class="rounded-circle contact-image" alt="mail"></a>
                <a href="#"><img src="img/icon/twitter.png" class="rounded-circle contact-image" alt="twitter"></a>
                <a href="#"><img src="img/icon/facebook.jpg" class="rounded-circle contact-image" alt="facebook"></a>
            </div>
        </nav>
    </footer>

    <!-- Optional JavaScript -->
    <script src="a.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>